<!DOCTYPE html>
<html lang="en">

<head>
    <title>Predict</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/predict.css')}}">
</head>
<body>
       <div class="page-wrapper">
        <div class="page-form"> 
            <div class="card">
                <h1 class="heading">PREDICTION FORM</h1> 
             <div> 
                <form action="/predictresult" method="post">
                    <div class="form-row">
                        <div class="name">Age</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" name="age" min="1" max="100" placeholder="Age" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Sex</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2">
                                    <select name="sex" required="required">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Thyroid stimulating hormone level</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" name="TSH" min="0.4" max="24.0" placeholder="0.4 to 24.0 mlU/L" required="required" step="any">
                            </div>
                        </div>
                    </div>
                      <div class="form-row">
                        <div class="name">Free Thyroxine Index</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" name="FTI" min="20" max="160" placeholder="20-160" required="required" step="any">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Total Thyroxine TT4</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" name="TT4" min="20" max="150" placeholder="20-150" required="required" step="any">
                            </div>
                        </div>
                    </div>
              
                    <div class="form-row">
                        <div class="name">On Thyroxine Medication</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2">
                                    <select name="on_thyroxine" required="required">
                                        <option>True</option>
                                        <option>False</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">T3 Measured</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2">
                                    <select name="T3_measured" required="required">
                                        <option>True</option>
                                        <option>False</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </form>
             </div>
            </div>
        </div>
       </div>
    </body>
</html>